
<table style="text-align:center"><tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Statistic</td><td>N</td><td>Mean</td><td>St. Dev.</td><td>Min</td><td>Max</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">precio_carbon</td><td>8,579</td><td>96.962</td><td>19.068</td><td>50.981</td><td>142.967</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr></table>

<table style="text-align:center"><tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Statistic</td><td>N</td><td>Mean</td><td>St. Dev.</td><td>Min</td><td>Max</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">precio_petroleo</td><td>8,579</td><td>108.091</td><td>16.263</td><td>70.385</td><td>145.873</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr></table>

<table style="text-align:center"><tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Statistic</td><td>N</td><td>Mean</td><td>St. Dev.</td><td>Min</td><td>Max</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">precio_gasolina</td><td>8,579</td><td>108.942</td><td>29.217</td><td>41.521</td><td>176.342</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr></table>

<table style="text-align:center"><tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Statistic</td><td>N</td><td>Mean</td><td>St. Dev.</td><td>Min</td><td>Max</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">precio_gas_natural</td><td>8,579</td><td>118.311</td><td>21.613</td><td>70.779</td><td>165.382</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr></table>

<table style="text-align:center"><tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Statistic</td><td>N</td><td>Mean</td><td>St. Dev.</td><td>Min</td><td>Max</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Mes.Año</td><td>289</td><td>201,160.800</td><td>696.087</td><td>200,001</td><td>202,401</td></tr>
<tr><td style="text-align:left">Indice</td><td>289</td><td>79.165</td><td>24.132</td><td>40.300</td><td>138.980</td></tr>
<tr><td style="text-align:left">Variación.anual..</td><td>289</td><td>5.345</td><td>2.677</td><td>1.490</td><td>13.340</td></tr>
<tr><td style="text-align:left">Variación.mensual..</td><td>289</td><td>0.435</td><td>0.425</td><td>-0.380</td><td>2.300</td></tr>
<tr><td style="text-align:left">Variación.año.corrido..</td><td>289</td><td>3.651</td><td>2.211</td><td>0.300</td><td>13.120</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr></table>
