
<table style="text-align:center"><tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Statistic</td><td>N</td><td>Mean</td><td>St. Dev.</td><td>Min</td><td>Max</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">año</td><td>289</td><td>2,011.543</td><td>6.961</td><td>2,000</td><td>2,024</td></tr>
<tr><td style="text-align:left">carbon</td><td>289</td><td>96.980</td><td>12.437</td><td>74.211</td><td>123.163</td></tr>
<tr><td style="text-align:left">gas_natural</td><td>289</td><td>118.245</td><td>8.164</td><td>98.711</td><td>137.059</td></tr>
<tr><td style="text-align:left">petroleo</td><td>289</td><td>108.079</td><td>7.801</td><td>91.248</td><td>128.404</td></tr>
<tr><td style="text-align:left">gasolina</td><td>289</td><td>109.136</td><td>25.226</td><td>61.648</td><td>166.097</td></tr>
<tr><td style="text-align:left">petroleo_2000_ene_transformada</td><td>289</td><td>59.221</td><td>14.529</td><td>30.685</td><td>95.936</td></tr>
<tr><td style="text-align:left">carbon_2000_ene_transformada</td><td>289</td><td>52.196</td><td>9.753</td><td>29.544</td><td>79.565</td></tr>
<tr><td style="text-align:left">gasolina_2000_ene_transformada</td><td>289</td><td>56.791</td><td>4.440</td><td>43.948</td><td>71.006</td></tr>
<tr><td style="text-align:left">gas_natural_2000_ene_transformada</td><td>289</td><td>64.943</td><td>16.420</td><td>28.623</td><td>107.789</td></tr>
<tr><td style="text-align:left">ipc_mes</td><td>289</td><td>79.165</td><td>24.132</td><td>40.300</td><td>138.980</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr></table>
