
<table style="text-align:center"><tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>Valores_faltantes</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">precio_petroleo</td><td>0.021</td></tr>
<tr><td style="text-align:left">precio_carbon</td><td>0.021</td></tr>
<tr><td style="text-align:left">precio_gas_natural</td><td>0.021</td></tr>
<tr><td style="text-align:left">precio_gasolina</td><td>0.021</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr></table>
